body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-main {
    width: 1920px;
    height: 69px;
    background: #353535;
}

.wrapper {
    width: min(1350px, 90vw);
    min-height: 120vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    width: 1017px;
    height: 747px;
    left: 466px;
    top: 160px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25), -4px -4px 20px rgba(0, 0, 0, 0.14);
}

img {
    position: absolute;
    left: 24%;
    right: 73.77%;
    top: 13.43%;
    bottom: 87.4%;
}

h3 {
    position: absolute;
    width: 56px;
    height: 24px;
    left: 486px;
    top: 100px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.one {
    position: absolute;
    width: 248px;
    height: 24px;
    left: 1030px;
    top: 114px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.61);
}

.two {
    position: absolute;
    width: 214px;
    height: 24px;
    left: 1269px;
    top: 114px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.62);


}

.barra {

    position: absolute;
    width: 7px;
    height: 24px;
    left: 1254px;
    top: 114px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.61);
}

.name {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.inp_text {
    position: absolute;
    width: 466px;
    height: 51px;
    left: 16px;
    top: 60px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.cpf {
    position: absolute;
    top: 130px;
    left: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.inp_cpf {
    position: absolute;
    width: 466px;
    height: 51px;
    left: 16px;
    top: 173px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.cargo {
    position: absolute;
    top: 240px;
    left: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;

}

.cargo_select {
    position: absolute;
    width: 470px;
    height: 51px;
    left: 16px;
    top: 290px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.senioridade {
    position: absolute;
    top: 350px;
    left: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.senioridade_select {
    position: absolute;
    width: 470px;
    height: 51px;
    left: 16px;
    top: 400px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.Local_de_trabalho {
    position: absolute;
    top: 460px;
    left: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.Local_de_trabalho_select {
    position: absolute;
    width: 470px;
    height: 51px;
    left: 16px;
    top: 510px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.cidade {
    position: absolute;
    top: 570px;
    left: 16px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.cidade_select {
    position: absolute;
    width: 470px;
    height: 51px;
    left: 16px;
    top: 620px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.contratacao {
    position: absolute;
    left: 710px;
    top: 16px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.contrat_um {
    position: absolute;
    left: 710px;
    top: 70px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 16px;

    color: #000000;
}

.contrat_dois {
    position: absolute;
    left: 860px;
    top: 70px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 16px;

    color: #000000;
}

.check_um {
    position: absolute;
    left: 685px;
    top: 80px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 16px;

    /* M3/sys/light/primary */
    background: #765B00;
}

.check_dois {
    position: absolute;
    left: 835px;
    top: 80px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 16px;

    /* M3/sys/light/primary */
    background: #765B00;
}

.Área {
    position: absolute;
    left: 530px;
    top: 130px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.Área_select {
    position: absolute;
    width: 466px;
    height: 51px;
    left: 530px;
    top: 173px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.Sub_Área {
    position: absolute;
    left: 530px;
    top: 240px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.Sub_Área_select {
    position: absolute;
    width: 466px;
    height: 51px;
    left: 530px;
    top: 290px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.date {
    position: absolute;
    left: 530px;
    top: 350px;

    font-family: 'roboto';
    font-style: normal;
    font-weight: 410;
    font-size: 20px;

    color: #000000;
}

.inp_data {
    position: absolute;
    width: 236px;
    height: 51px;
    left: 530px;
    top: 399px;

    /* M3/read-only/light/on-secondary-container/opacity-0.08 */
    background: rgba(35, 27, 4, 0.08);
    border-bottom: 1px solid #765B00;
    border-radius: 4px 4px 0px 0px;
}

.botao {
    position: absolute;
    width: 223px;
    height: 61px;
    left: 680px;
    top: 570px;
    background: #FDC32D;
    border-radius: 30px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height, or 120% */
    align-items: center;
    letter-spacing: 0.5px;

    color: #000000;
}

.img_prox {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    left: 80%;
    top: 30%;
}