@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    /* Color Guidance */

    --primary-yelllow: #ffb800;

    --primary-0: #000000;
    --primary-10: #241a00;
    --primary-20: #3e2e00;
    --primary-30: #594400;
    --primary-40: #765b00;
    --primary-50: #947300;
    --primary-60: #b28c00;
    --primary-70: #cfa621;
    --primary-80: #edc13d;
    --primary-90: #ffe089;
    --primary-95: #ffefc8;
    --primary-99: #fffbf7;
    --primary-100: #ffffff;

    --secondary-0: #000000;
    --secondary-10: #231b04;
    --secondary-20: #392f15;
    --secondary-30: #51462a;
    --secondary-40: #695d3f;
    --secondary-50: #837656;
    --secondary-60: #9d8f6e;
    --secondary-70: #b9aa87;
    --secondary-80: #d5c5a1;
    --secondary-90: #f2e1bb;
    --secondary-95: #ffefc8;
    --secondary-99: #fffbf7;
    --secondary-100: #ffffff;

    --tertiary-0: #000000;
    --tertiary-10: #04210b;
    --tertiary-20: #1a361f;
    --tertiary-30: #304d33;
    --tertiary-40: #47664a;
    --tertiary-50: #5f7f61;
    --tertiary-60: #79997a;
    --tertiary-70: #93b493;
    --tertiary-80: #adcfad;
    --tertiary-90: #c9ebc8;
    --tertiary-95: #d7fad6;
    --tertiary-99: #f4fff0;
    --tertiary-100: #ffffff;

    --error-0: #000000;
    --error-10: #410001;
    --error-20: #680003;
    --error-30: #930006;
    --error-40: #ba1b1b;
    --error-50: #dd3730;
    --error-60: #ff5449;
    --error-70: #ff897a;
    --error-80: #ffb4a9;
    --error-90: #ffdad4;
    --error-95: #ffede9;
    --error-99: #fcfcfc;
    --error-100: #ffffff;

    --neutral-0: #000000;
    --neutral-10: #1e1b16;
    --neutral-20: #33302a;
    --neutral-30: #4a4640;
    --neutral-40: #625e57;
    --neutral-50: #7b766f;
    --neutral-60: #959088;
    --neutral-70: #b0aaa2;
    --neutral-80: #ccc6be;
    --neutral-90: #e9e2d9;
    --neutral-95: #f7f0e7;
    --neutral-99: #fffbf7;
    --neutral-100: #ffffff;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    width: min(1300px, 90vw);
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main {
    width: 1920px;
    height: 69px;
    background: #353535;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min(50px, 10vh);
    width: min(150px, 25vh);
    margin: 0%;

    border-radius: 40px;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    outline: none;
}

.btn:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.card {
    width: min(230px, 90vw);
    height: 210px;
    background: #ffffff36;
    box-shadow: -4px 4px 20px rgba(24, 23, 23, 0.25);
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.container {
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card_yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 69px;
    background: var(--primary-yelllow);
    border-radius: 0px;
    margin-left: -1.2em;
    margin-top: -0.3em;
}

.title-card {
    font-weight: 350;
}

.card_yellow img {
    position: relative;
    width: 40px;
    height: 40px;
}

.APP_Entregador {
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_falha {
    width: 80%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_cadastro {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_financeiro {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_comerciante {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_cadastro_comer {
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_falha_comer {
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_Workspace {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_hardware {
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_infra {
    width: 80%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_adm {
    width: 60%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_adm {
    width: 60%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_adm {
    width: 60%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_back_falha {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container_outros {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#appEntregador {
    display: none;
}

#falha {
    display: none;
}

#cadastro {
    display: none;
}

#financeiro {
    display: none;
}

#sisComerciante {
    display: none;
}

#sistemaComercianteCadastro {
    display: none;
}

#comercianteFalha {
    display: none;
}

#googleWorkspace {
    display: none;
}

#suporteHardware {
    display: none;
}

#suporteSoftware {
    display: none;
}

#comerciante_outros {
    display: none;
}

#cloud {
    display: none;
}

#proAdmin {
    display: none;
}

#sistemaBox {
    display: none;
}

#sistemaBoxFalha {
    display: none;
}

#sistemaBoxOutros {
    display: none;
}

#back {
    display: none;
}

#backofficeFalha {
    display: none;
}

#backofficeCadastro {
    display: none;
}

#backofficeConfig {
    display: none;
}

#backofficeOutros {
    display: none;
}

#suporteInfra {
    display: none;
}

/* FORMULARIO */

.btn-primary-80 {
    border: none;
    background-color: var(--primary-yelllow);
    font-size: 1.2rem;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.container-form {
    box-shadow: -3px 3px 2em rgba(0, 0, 0, 0.122);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    justify-content: center;
    width: clamp(20vh, 900px, 100%);
    height: clamp(80vh, 700px, 1000vh);
    align-self: center;
    backdrop-filter: blur(10%);

    align-items: center;
}

.input-box {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.title-text-form {
    width: 100%;
    font-weight: normal;
    margin: 0%;
    font-size: min(12pt, 2vh);
    text-align: start;
}

.input-box textarea {
    width: min(750px, 80vw);
    height: min(250px, 20vh);
    padding: 20px 12px;
    outline: none;
    border: .1vh solid #aaa;
    font-size: 2vh;
    text-indent: 10px;
    align-self: center;
    background-color: #aaaaaa1b;
}

.dropzone {
    flex-wrap: wrap;
    width: min(750px, 80vw);
    height: min(10px, 10vh);
    border: 0.3px dashed #00000051;
    background: url(../Telas/img\ src/Group\ 5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
    background-color: #aaaaaa1b;
    font-size: 1rem;
    align-self: center;
}

.dropzone .fallback {
    width: 100%;
}

.header-link {
    display: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--neutral-40);
    padding: 10px;
    font-size: 1rem;
}

.header-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-route {
    align-items: center;
    display: flex;
    width: min(500px, 100%);
    justify-content: flex-end;
    padding: 8px;
    font-size: 2vh;
    font-weight: 300;
    color: #959088;
}

.link-route {
    text-decoration: none;
    padding: 4px 24px 0px 24px;
    color: var(--neutral-40);
    font-size: 1.1rem;
    border-right: 2px solid rgba(0, 0, 0, 0.61);
}

.link-route:last-child {
    border: none;
    text-decoration: none;
    color: var(--neutral-40);
}

.wrap-footer {
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;

}
.wrap-footer form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: auto;
    margin: 0%;
    position: relative;
    flex-wrap: wrap;
}


.footer-main a {
    padding: 15px;
}

.div-footer {
    flex-wrap: wrap;
    background-color: var(--neutral-99);
    padding: 1rem;
    width: min(700px, 100%);
    min-height: min(70px, 9vh);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(164, 155, 155, 0.25);
    border-radius: 10px;
    font-size: min(12pt, 2vh);
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
}



.segredo {
    display: flex;
   /*  height: 5vh;
    width: 10vw; */
    padding: 15px 20px;
    background-color: #9d9d9d43;
    font-size: 2vh;
    font-family: 'Roboto';
    border: 0;
    justify-content: center;
    border-radius: 50px;
    transition: .4s;
    /* position: absolute; */
    pointer-events: none;
    color: #3535352d;
    align-self: center;
}




.segredo:hover {
    background-color: #ffe089;
    cursor: pointer;
}

.text-path {
    color: #83838391;
    font-size: clamp(.3vh, 14pt, 2vh);
    margin: 0%;
}

.btn_finalizar {
    border: none;
    background-color: var(--primary-yelllow);
    font-size: 1.2rem;
    border-radius: 40px;
    height: min(50px, 10vh);
    width: min(170px, 20vh);
    font-size: min(12pt, 2vh);
    transition: .3s;
}

.btn_finalizar:hover {
    background-color: #1a361f;
    color: white;
    cursor: pointer;
}


@media(max-width:900px){

 .wrap-footer{
    padding: .5rem;
    gap: 2vh;
    flex-direction:column-reverse;
    align-items: center;
 }   
}
.voltar_form{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 20px;
    cursor: pointer;
    
        

}

.voltar_form:hover{
    color: #35353542;
}


